<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>料金</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>東淀川区便利屋サービス</h1>
        <nav>
            <a href="index.html">ホーム</a>
            <a href="services.html">サービス</a>
            <a href="pricing.html">料金・営業時間</a>
            <a href="contact.html">お問い合わせ</a>
        </nav>
    </header>
    <main>
        <section>
            <p>1時間 2,500円(作業内容で変動なし)</p>
            <p>作業内容で料金が変動する便利屋さんは多いですが、東淀川区にお住まいのお客様だけに便利屋サービスを行っているため、どのような作業でもお値段かわることなく作業させていただきます(^^)/</p>
            <h2>料金表</h2>
            <table>
                <thead>
                    <tr>
                        <th>サービス内容</th>
                        <th>料金</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1時間の料金</td>
                        <td>¥2,500 (22:00以降は夜間料金として追加で500円いただき合計3000円となります)</td>
                    </tr>
                    <tr>
                        <td>経費</td>
                        <td>発生する場合はご相談の際、事前にお知らせします！</td>
                    </tr>
                    <tr>
                        <td>出張費</td>
                        <td>¥1,000</td>
                    </tr>
                    <tr>
                        <td>スマイル</td>
                        <td>¥0</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>営業時間</h2>
            <table>
                <thead>
                    <tr>
                        <th>営業日</th>
                        <th>時間</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>平日</td>
                        <td>20:00~24:00（夜間のみの営業です （｡≧ _ ≦｡））</td>
                    </tr>
                    <tr>
                        <td>土日祝</td>
                        <td>07:00~25:00</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 便利屋サービス</p>
    </footer>
</body>
</html>
